<div class="fill" style="overflow-y: auto; overflow-x: hidden; position: relative; transform: translateZ(0)" (scroll)="onScroll($event)" #scrollWrapper>
    <div style="opacity: 0; width: 1px;" [style.height.px]="totalScrollHeight"></div>

    <div *ngFor="let lineViewModel of visibleTreeLines.viewModels"
        (click)="onExpanderClicked(lineViewModel)"
        (mousedown)="onMouseDown(lineViewModel)"
        (mouseup)="onMouseUp(lineViewModel)"
        class="line"
        style="position: absolute; width: 100%"
        [style.top.px]="lineViewModel.top"
        [hidden]="!lineViewModel.visible">
        <div [style.minWidth.px]="lineViewModel.paddingLeft"></div>
        <div style="flex: 1; overflow: hidden">
            <ng-template [ngTemplateOutlet]="templateRef" [ngOutletContext]="{ $implicit: lineViewModel.data.data }">
            </ng-template>
        </div>
    </div>
</div>
