.expander {
    min-width: 20px;
    text-align: center;

    .button {
        transform: rotate(-90deg);
    }
}

.expanded .button {
    transform: rotate(0deg)
}

.line {
    display: flex;
    overflow: hidden;
    &:hover {
        background: rgba(30, 144, 255, 0.1);
    }
}


.selected {
    background: rgba(30, 144, 255, 0.2) !important;
}