<div class="fill root">

    <div *ngFor="let annotationBundle of annotationBundles" class="refBundleContainer" [style.top.px]="annotationBundle.top" [style.height.px]="metrics.commitHeight">
        <div class="line" [style.top.px]="metrics.commitHeight / 2" [style.borderColor]="annotationBundle.color"></div>
        <div *ngFor="let annotation of annotationBundle.annotations"
              class="refBox"
              [style.background]="annotationBundle.colorLight"
              [style.borderColor]="annotationBundle.color"
              [style.width.px]="annotation.width"
              [style.minWidth.px]="annotation.width"
              draggable="true">

            <i *ngIf="annotation.isTag" class="material-icons" [style.color]="annotationBundle.color">label</i>
            <i *ngIf="annotation.isLocal" class="material-icons" [style.color]="annotationBundle.color">computer</i>
            <i *ngIf="annotation.isRemote" class="material-icons" [style.color]="annotationBundle.color">wifi</i>
            {{ annotation.name }}
        </div>

        <div *ngIf="annotationBundle.hiddenAnnotationCount > 0" class="refBox" style="text-overflow: unset; border-left-width: 1px; min-width: 22px; width: 22px; text-align: center; background: white"
             [style.borderColor]="annotationBundle.color"
             [style.minWidth.px]="annotationBundle.hiddenAnnotationCountWidth">
             +{{ annotationBundle.hiddenAnnotationCount }}
        </div>
    </div>
</div>
