.root {
    position: relative;
    overflow: visible;
    border-right: 1px solid lightgray;
}

.refBundleContainer {
    overflow: hidden;
    width: 100%;
    z-index: 999999999;
    position: absolute;
    white-space: nowrap;
    display: flex;
    align-items: center;

    &:hover {
        overflow: visible;
    }
}

.refBox {
    margin-right: 0.5em;
    padding: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-style: solid;
    border-left-width: 3px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    z-index: 10;
}

.line {

    border-top: 1px solid red;
    height: 1px;
    width: 100%;
    position: absolute;
}
