.root {
    position: relative;
    overflow: visible;
    border-right: 1px solid lightgray;
}

.refBundleContainer {
    width: 100%;
    z-index: 999999999;
    position: absolute;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.refBox {
    margin-right: 10px;
    padding: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-style: solid;
    border-left-width: 3px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    z-index: 10;
}

.line {
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    height: 1px;
    width: 100%;
    position: absolute;
}
