.highlighted {
    background: rgba(30, 144, 255, 0.1);
}

.selected, .clicked {
    background: rgba(30, 144, 255, 0.2);
}

.commitBox {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 3px;
}

.colorBorder {
    width: 3px;
    margin-right: 3px;
    margin-left: 3px;
    height: 100%;
}

.title {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
