<div style="display: flex; flex-direction: column" class="fill">
    <div style="flex: 1; display: flex" class="fill">
        <div style="width: 300px; box-shadow: 0px 0px 8px;">

        </div>
        <div style="background: white" class="fill">
            <commit-history [repository]="repository" [(selectedCommit)]="selectedCommit"></commit-history>
        </div>
        <div style="width: 500px;">
            <commit-details [commit]="selectedCommit"></commit-details>
        </div>
    </div>
</div>
