<div class="root fill" style="display: flex; flex-direction: column">
    <div class="header" [class.hidden]="isBinary">
        <div style="flex: 1">
            <span class="title">{{ leftFileName }}</span>
            <span class="hint">(Original version)</span>
        </div>
        <div style="flex: 1; text-align: right">
            <span class="hint">(Changed version)</span>
            <span class="title">{{ rightFileName }}</span>
        </div>
    </div>
    <div style="flex: 1; overflow: hidden" [class.hidden]="isBinary" [style.visibility]="visible ? 'visible' : 'hidden'">
        <div #container style="height: 100%" ></div>
    </div>
    <div class="binary" [class.hidden]="!isBinary">
        <i class="material-icons" style="font-size: 10em;">insert_drive_file</i>
    </div>
</div>
