.header {
    background: var(--theme-window-background-color);
    border-bottom: 1px solid var(--theme-workspace-border-color);
    padding: 5px;
    display: flex;
}

.title {
    font-weight: bold;
}

.hint {
    opacity: 0.8;
    font-style: italic;
}

.hidden {
    display: none;
}
