.root {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.treeView {
    flex: 1;
    background: var(--theme-workspace-background-color);
    border: 1px solid var(--theme-workspace-border-color);
}

.indicator {
    background: green; 
    color: white;  
    font-weight: bold;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 25%;
}

.fileOrFolderLine {
    padding: 3px; 
    &:hover .stageButton {
        display: block;     
    }
}

.removedFile {
    opacity: 0.5;
    text-decoration: line-through;
}

