<div style="display: flex; padding: 1em;" class="fill">
    <div class="quickJumpList">
        <a>Create a new repository...</a>
        <a (click)="onOpenRepositoryClicked()">Open a local repository...</a>
        <a>Clone a remote repository...</a>
    </div>
    <div style="flex: 1; display: flex; flex-direction: column; " class="fill">
        <div>
            Recent repositories:
        </div>
        <div style="flex: 1" class="recentRepositoryList fill">
            <div *ngFor="let rep of recentRepositories" class="item">
                <div>
                    <img src="assets/icons/repo.svg">
                </div>
                <div>
                    <span class="name">{{ rep.name }}</span><br>
                    <span class="path">{{ rep.path }}</span>
                </div>
            </div>
        </div>
        <div>
            <input type="checkbox">
            <label>Automatically reopen the last repository on application startup</label>
        </div>
    </div>
</div>
