.recentRepositoryList {
    list-style: none;
    border: 1px solid lightgray;
    overflow-y: auto;

    .name {
        font-size: 1.5em;
    }

    .path {
        opacity: 0.5;
    }

    .item {
        width: 100%;
        padding: 1em;
        cursor: pointer;
        display: flex;

        & > div:nth-child(2) {
            flex: 1;
        }

        img {
            height: 100%
        }

        &:hover {
            background: #F0F0F0;
        }
    }
}

.quickJumpList {
    padding-right: 4em;
    padding-top: 3em;
    padding-left: 3em;

    a {
        display:block;
        margin-bottom: 1em;
        font-size: 1.1em;
    }
}
