<div style="display: flex; padding: 1em;" class="fill">
    <div class="quickJumbList">
        <a>Create a new repository...</a>
        <a>Open a local repository...</a>
        <a>Clone a remote repository...</a>
    </div>
    <div style="flex: 1; display: flex; flex-direction: column;" class="fill">
        <div>
            Recent repositories:
        </div>
        <div style="flex: 1" class="recentRepositoryList fill">
            <div class="item">
                <span class="name">Dashboard</span><br>
                <span class="path">C:\coding\dashboard</span>
            </div>
        </div>
    </div>
</div>
