<div class="fill" style="position: relative">
    <div *ngFor="let item of visibleCommits.viewModels" class="commitBox"
         [hidden]="!item.visible"
         [style.top.px]="item.positionTop"
         [style.height.px]="metrics.commitHeight"
         (click)="show(item)" >


        <div class="profileImg"
             style="height: 24px; width: 24px; border-style: solid; border-width: 2px; margin-right: 3px"
             [style.borderColor]="item.color">
             <profile-image [commit]="item.profileImageCommit"></profile-image>
        </div>

        <div class="title" [class.virtual]="item.isVirtual">
            {{ item.title }}
        </div>

    </div>
</div>
