.commitBox {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 3px;
}

.title {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.virtual {
    font-style: italic;
}