.root {
    color: white;
    margin-bottom: 5px;
    pointer-events: all;
    box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row;
}

.button {
    padding: 8px;
}

.theme-info {
    background: #202020;
    .button {
        background: #1E90FF;
        &:hover {
            background: #75BAFD;
        }
    }
}

.theme-error {
    background: #FF120C;
    .button {
        background: #FF403B;
        &:hover {
            background: #FF6F6B;
        }
    }
}
