<div class="root">

    <div style="display: flex; padding-bottom: 1em;">
        <div class="profileImage">
            <profile-image [commit]="commit"></profile-image>
        </div>
        <div style="flex: 1; margin-left: 1em; overflow: hidden">
            <div style="text-overflow: ellipsis; overflow: hidden">{{ authorName }}</div>
            <div style="text-overflow: ellipsis; overflow: hidden">{{ authorMail }}</div>
            <div style="text-overflow: ellipsis; overflow: hidden">{{ authorDate }}</div>
        </div>
    </div>

    <div class="content" style="max-height: 40%">
        <div>Message:</div>
        <div class="commitMessage">{{ commitTitle }}</div>
    </div>

    <div class="content" style="display: flex; flex-direction: column; flex: 1; ">
        <div>Changes:</div>
        <div class="fill">
            <changed-files-tree [changedFiles]="changedFiles" (onFileSelected)="onFileSelected($event)"></changed-files-tree>
        </div>
    </div>
</div>
