<div style="display: flex; flex-direction: column" class="fill root">
    <div *ngIf="!repositoryIsOpening && !repository">
        Welcome
    </div>
    <div *ngIf="repositoryIsOpening">
        Loading
    </div>
    <div *ngIf="repository" class="repository fill" style="flex: 1; display: flex; flex-direction: column">
        <div>
            <tab-header></tab-header>
        </div>
        <div style="flex: 1; overflow: hidden">
            <div style="display: flex" class="fill">
                <div style="width: 250px; overflow: hidden">
                    <side-bar [repository]="repository"></side-bar>
                </div>
                <div style="background: white; flex: 1">
                    <commit-history [repository]="repository" [(selectedCommit)]="selectedCommit"></commit-history>
                </div>
                <div *ngIf="selectedCommit" style="width: 350px; overflow: hidden">
                    <commit-details [commit]="selectedCommit"></commit-details>
                </div>
            </div>
        </div>

    </div>
</div>
