<div style="display: flex; flex-direction: column" class="fill root">
    <div *ngIf="!repositoryIsOpening && !repository">
        Welcome
    </div>
    <div *ngIf="repositoryIsOpening">
        Loading
    </div>
    <div *ngIf="repository" style="flex: 1; display: flex" class="fill repository">
        <div style="width: 300px">

        </div>
        <div style="background: white" class="fill">
            <commit-history [repository]="repository" [(selectedCommit)]="selectedCommit"></commit-history>
        </div>
        <div style="width: 500px;">
            <commit-details [commit]="selectedCommit"></commit-details>
        </div>
    </div>
</div>
