html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font: small-caption;
    font-family: var(--theme-font-name);
    font-size: var(--theme-font-size);
    color: var(--theme-font-color);
    background-color: var(--theme-window-background-color);
    padding: 0;
    margin: 0;
    user-select: none;
    cursor: default;
}

input, textarea {
    padding: 3px;
    font: small-caption;
    color: var(--theme-font-color);
    background-color: var(--theme-workspace-background-color);
    border: 1px solid var(--theme-workspace-border-color);

    &:focus {
        outline: none;
    }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

[hidden] {
    display: none !important;
}


a {
    $linkColor: dodgerblue;
    color: $linkColor;
    cursor: pointer;
    &:hover {
        color: lighten($linkColor, 15%);
    }
}

.fill {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/MaterialIcons-Regular.woff2);
}
.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 2px;
}
