html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font: small-caption;
    background-color: Window;
    padding: 0;
    margin: 0;
    user-select: none;
    cursor: default;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
    $linkColor: dodgerblue;
    color: $linkColor;
    cursor: pointer;
    &:hover {
        color: lighten($linkColor, 15%);
    }
}

.fill {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
