<div class="root">
    <div style="overflow-x: auto; overflow-y: hidden; display: flex">
        <div *ngFor="let tab of tabs" class="tab" style="display: flex;" [class.active]="tab.isSelected">
            <div class="title" [class.temp]="!tab.isPersistent" style="flex: 1"  (mousedown)="onTabClicked(tab, $event)">{{ tab.title }}</div>
            <div class="close" *ngIf="tab.closeable" (click)="onCloseClicked(tab)">
                <i class="material-icons" >close</i>
            </div>
        </div>
    </div>
</div>
