<div style="padding: 1em;">
    <table class="dataTable">
        <tr class="row">
            <td>Author:</td>
            <td>{{ authorName }}</td>
        </tr>
        <tr class="row">
            <td>Author mail:</td>
            <td>{{ authorMail }}</td>
        </tr>
        <tr class="row">
            <td>Commit date:</td>
            <td>01.01.2017 13:22:33</td>
        </tr>
        <tr class="row">
            <td>Author date:</td>
            <td>01.01.2017 13:22:33</td>
        </tr>
        <tr>
            <td colspan="2">
                <div type="text" class="commitTitle">{{ commitTitle }}</div>
            </td>
        </tr>
    </table>
</div>
