.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.content {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;

    &>div:last-child {
        flex: 1;
    }

    &>div:first-child {
        font-weight: bold;
        opacity: 0.5;
    }
}

.commitMessage {
    font-family: Consolas;
    user-select: auto;
    background: var(--theme-workspace-background);
    border: 1px solid rgb(192,192,192);
    padding: 0.5em;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.treeView {
    background: var(--theme-workspace-background);
    border: 1px solid rgb(192,192,192);
}
