<div class="root">

    <div style="display: flex; padding-bottom: 1em;">
        <div style="height: 48px; width: 48px; border: 1px solid rgb(192, 192, 192)">
            <profile-image [commit]="commit"></profile-image>
        </div>
        <div style="flex: 1; margin-left: 1em; overflow: hidden">
            <div style="text-overflow: ellipsis; overflow: hidden">{{ authorName }}</div>
            <div style="text-overflow: ellipsis; overflow: hidden">{{ authorMail }}</div>
            <div style="text-overflow: ellipsis; overflow: hidden">{{ authorDate }}</div>
        </div>
    </div>

    <div class="content">
        <div>Message:</div>
        <div class="commitMessage">{{ commitTitle }}</div>
    </div>

    <div class="content" style="flex: 1">
        <div>Changes:</div>
        <div class="treeView">
            <tree-view [data]="changeFilesTree" [adapter]="adapter">
                <ng-template let-data>
                    <div style="white-space: nowrap; display: flex">
                        <div *ngIf="data.isFolder"><i class="material-icons" style="padding-right: 4px">folder</i></div>
                        {{ data.label }}
                    </div>
                </ng-template>
            </tree-view>
        </div>
    </div>
</div>
