.root {
    display: flex;
    position: relative;
     &>div {
        visibility: hidden;
        opacity: 0;
        flex: 1;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
     }
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
}
