<div style="width: 100%; height: 100%; overflow: hidden; position: relative">


    <div style="transform: translateZ(0)">
        <div *ngFor="let line of visibleLines.viewModels"
            style="position: absolute; border-width: 3px; border-style: solid; box-sizing: border-box;"
            [hidden]="!line.visible"
            [style.top.px]="line.positionTop"
            [style.left.px]="line.positionLeft"
            [style.width.px]="line.width"
            [style.height.px]="line.height"
            [style.borderLeftColor]="line.borderLeftColor"
            [style.borderRightColor]="line.borderRightColor"
            [style.borderBottomColor]="line.borderBottomColor"
            [style.borderTopColor]="line.borderTopColor"
            [style.borderRadius]="line.borderRadius">
        </div>
    </div>

    <ng-container *ngFor="let item of visibleBubbles.viewModels">
        <div *ngIf="item.showAnnotationLine"
             [hidden]="!item.visible"
             style="border-style: solid; border-top-width: 1px; position: absolute; left: 0px; border-top-width: 1px; border-width: 0px; border-top-width: 1px;"
             [style.top.px]="item.positionTop + metrics.bubbleHeight / 2"
             [style.borderColor]="item.color"
             [style.width.px]="item.lineWidth">
        </div>
        <div style="position: absolute; display: flex;"
             [style.width.px]="metrics.bubbleWidth"
             [style.height.px]="metrics.bubbleHeight"
             [style.top.px]="item.positionTop"
             [style.left.px]="item.positionLeft"
             [hidden]="!item.visible">
            <div [style.width.px]="laneGridWidth">
                <div style="padding: 4px; box-sizing: border-box;" [style.width.px]="metrics.bubbleWidth" [style.height.px]="metrics.bubbleHeight">
                    <div style="height: 100%; width: 100%; border: 0px solid white; box-sizing: border-box; border-style: solid; border-radius: 0%"  [style.background]="item.color"></div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
