<div class="fill root" style="display: flex; flex-direction: column;">
    <div style="padding: 5px">
        <input type="text" placeholder="Filter" style="width: 100%">
    </div>
    <div style="flex: 1; overflow: hidden">
        <tree-view [adapter]="branchNodeAdapter" [data]="nodes" [lineHeight]="30">
            <ng-template let-data>
                <div style="display: flex; overflow: hidden; padding-left: 5px; padding-right: 5px" [title]="data.name">
                    <div style="padding-right: 4px">
                        <img src="assets/icons/{{ data.expanded ? data.iconExpanded : data.iconCollapsed }}.svg" style="height: 16px; width: 16px; margin-top: 4px">
                    </div>
                    <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 23px">{{ data.name }}</span>
                </div>
            </ng-template>
        </tree-view>
    </div>
</div>
