--theme-window-background-color: var(--native-window-background-color);
--theme-workspace-background-color: var(--native-workspace-background-color);
--theme-workspace-border-color: var(--native-workspace-border-color);
--theme-font-color: var(--native-font-color);
--theme-font-name: var(--native-font-name);
--theme-font-size: var(--native-font-size);