.root {
    position: relative;
}

.scrollContainer {
    position: relative;
    overflow: auto;
    transform: translateZ(0);
}

.scrollInner {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.horizontalScrollContainer {
    position: absolute;
    bottom: 0;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.2s linear;
    &.visible {
        opacity: 1;
    }
}

.resizeOverlay {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.resizeBar {
    width: 10px;
    pointer-events: all;
    cursor: ew-resize;
    position: absolute
}


.inResizeMode {
    pointer-events: all;
    cursor: ew-resize;
}
