<div class="root fill" (window:resize)="onWindowResize()">
    <div class="fill scrollContainer"
         (scroll)="onScroll($event)"
         (document:mouseleave)="onMouseOut()"
         (mouseout)="onMouseOut($event)"
         (mousemove)="onMouseMove($event)"
         (mousedown)="onMouseDown($event)"
         (mouseup)="onMouseUp($event)"
         #scrollWrapper>
        <div class="scrollInner" [style.height.px]="maxScrollHeight">
            <div [style.width.px]="annotationGridWidth">
                <div style="white-space: nowrap">Ein sehr langer String und so hier könnte ein Branch stehen</div>
            </div>
            <div [style.width.px]="currentLaneGridWidth" style="position: relative">
                <commit-lanes [commits]="historyRepository"
                              [visibleRange]="visibleRange"
                              [width]="currentLaneGridWidth"
                              [verticalScroll]="laneGridScrollPosition"
                              [commitHighlighted]="commitHighlighted"
                              [commitClicked]="commitClicked"
                              [commitSelected]="commitSelected">
                </commit-lanes>
            </div>
            <div style="flex: 1;">
                <commit-titles [commits]="historyRepository"
                               [visibleRange]="visibleRange"
                               [commitHighlighted]="commitHighlighted"
                               [commitClicked]="commitClicked"
                               [commitSelected]="commitSelected">
                </commit-titles>
            </div>
        </div>

        <div class="resizeOverlay" [class.inResizeMode]="isInLaneGridResizeMode" [style.height.px]="maxScrollHeight">
            <div class="resizeBar" [style.left.px]="currentLaneGridWidth + annotationGridWidth - 2"
                                   [style.height.px]="maxScrollHeight"
                                   (mousedown)="onResizeMouseDown($event)"
                                   (document:mouseup)="onResizeMouseUp($event)"
                                   (document:mousemove)="onResizeMouseMove($event)">
            </div>
        </div>
    </div>

    <div class="horizontalScrollContainer"
         [class.visible]="mouseIsInLaneGrid || isInLaneGridResizeMode"
         [style.left.px]="annotationGridWidth"
         [style.width.px]="currentLaneGridWidth - 1"
         (scroll)="onLaneGridScroll($event)">
        <div style="opacity: 0; height: 1px;" [style.width.px]="totalLaneGridWidth" ></div>
    </div>
</div>

