<div class="root fill" (window:resize)="onWindowResize()">
    <div class="fill scrollContainer" (scroll)="onScroll($event)" (document:mouseleave)="onMouseOut()" (mouseout)="onMouseOut($event)" (mousemove)="onMouseMove($event)" #scrollWrapper>
        <div class="scrollInner" [style.height.px]="maxScrollHeight">
            <div [style.width.px]="annotationGridWidth">
                <div style="white-space: nowrap">Ein sehr langer String und so hier könnte ein Branch stehen</div>
            </div>
            <div [style.width.px]="currentLaneGridWidth" style="position: relative">
                <commit-lanes [commits]="historyRepository"
                              [visibleRange]="visibleRange"
                              [width]="currentLaneGridWidth"
                              [verticalScroll]="laneGridScrollPosition"
                              [commitHighlighted]="commitHighlighted"
                              [commitClicked]="commitClicked">
                </commit-lanes>
            </div>
            <div style="flex: 1;">
                <commit-titles [commits]="historyRepository"
                               [visibleRange]="visibleRange"
                               [commitHighlighted]="commitHighlighted"
                               [commitClicked]="commitClicked">
                </commit-titles>
            </div>
        </div>
    </div>

    <div class="horizontalScrollContainer" [style.left.px]="annotationGridWidth" [style.width.px]="currentLaneGridWidth - 1" (scroll)="onLaneGridScroll($event)">
        <div style="opacity: 0; height: 1px;" [style.width.px]="totalLaneGridWidth" ></div>
    </div>

    <div class="resizeOverlay" [class.inResizeMode]="isInLaneGridResizeMode" [style.height.px]="maxScrollHeight">
        <div [style.width.px]="annotationGridWidth">
        </div>
        <div [style.width.px]="currentLaneGridWidth" style="position: relative;">
        </div>
        <div style="width: 10px; pointer-events: all; cursor: ew-resize" (mousedown)="onResizeMouseDown($event)" (document:mouseup)="onResizeMouseUp($event)" (document:mousemove)="onResizeMouseMove($event)">
        </div>
        <div style="flex: 1; position: relative;">
        </div>
    </div>
</div>

