<div class="root" *ngIf="persistentPages.length > 0">
    <div style="display: flex">
        <div style="overflow-x: auto; overflow-y: hidden; flex: 1; display: flex">
            <tab-header-item *ngFor="let tab of persistentPages" [selected]="tab.isSelected" [persistent]="true" [closeable]="tab.closeable"
                [title]="tab.title" (clicked)="onTabClicked(tab)" (closed)="onCloseClicked(tab)">
            </tab-header-item>
        </div>
        <div style="display: flex;">
            <tab-header-item *ngFor="let tab of tempPages" [selected]="tab.isSelected" [persistent]="false" [closeable]="tab.closeable"
                [title]="tab.title" (clicked)="onTabClicked(tab)" (closed)="onCloseClicked(tab)" (makePersistent)="onMakePersistentClicked(tab)">
            </tab-header-item>
        </div>
    </div>

</div>
