--theme-window-background-color: #1E1E1E;
--theme-workspace-background-color: #252526;
--theme-workspace-border-color: #252526;
--theme-font-color: #CCCCCC;
--theme-font-name: var(--native-font-name);
--theme-font-size: var(--native-font-size);