<div class="root">

    <div class="content" style="display: flex; flex-direction: column; flex: 1; ">
        <div>Staged:</div>
        <div style="margin-bottom: 4px">
            <input type="search" placeholder="Filter" style="width: 100%" [(ngModel)]="filter" (ngModelChange)="onFilterChange()">
        </div>
        <div class="treeView">
            <tree-view [data]="filesTree" [adapter]="adapter" [lineHeight]="22" (selectedItemChange)="onFileSelected($event)">
                <ng-template let-data>
                    <div style="display: flex; overflow: hidden; padding: 3px" [title]="data.label">
                        <i class="material-icons" [style.display]="data.textClass=='entryAdd' ? 'block' : 'none'" style="color: green;  font-weight: bold">add</i>
                        <i class="material-icons" [style.display]="data.textClass=='entryRemove' ? 'block' : 'none'" style="color: red;  font-weight: bold">remove</i>
                        <i class="material-icons" [style.display]="data.textClass=='entryChange' ? 'block' : 'none'" style="color: dodgerblue;">create</i>
                        <div style="padding-right: 4px">
                            <file-icon [icon]="data.expanded ? data.iconExpanded : data.iconCollapsed"></file-icon>
                        </div>
                        <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap" [class]="data.textClass">{{ data.label }}</span>
                    </div>
                </ng-template>
            </tree-view>
        </div>
    </div>

    <div class="content">
        <div>Commit message:</div>
        <input type="text" style="width: 100%">
    </div>

    <div>
        <button style="width: 100%; padding: 0.5em;">Commit</button>
    </div>

</div>
