<div class="root">

    <div class="content" style="display: flex; flex-direction: column; flex: 1; ">
        <div>Changed files:</div>
        <div class="fill">
            <changed-files-tree [changedFiles]="workTreeChanges" (onFileSelected)="onFileSelected($event)"></changed-files-tree>
        </div>
    </div>

    <div class="content">
        <div>Commit message:</div>
        <input type="text" style="width: 100%" [(ngModel)]="commitMessage">
    </div>

    <div>
        <button style="width: 100%; padding: 0.5em;" (click)="onCommitClicked()">Commit</button>
    </div>

</div>
