<div class="root">

    <div class="content" style="display: flex; flex-direction: column; flex: 1; ">
        <div>Changed files:</div>
        <div class="fill">
            <changed-files-tree [changedFiles]="changedFiles"
                                (onFileSelected)="onFileSelected($event)"
                                (onFileStageClicked)="onStageClicked($event)"
                                (onFolderStageClicked)="onStageClicked($event)"
                                (onFileUnstageClicked)="onUnstageClicked($event)"
                                (onFolderUnstageClicked)="onUnstageClicked($event)">

            </changed-files-tree>
        </div>
    </div>

    <div class="content commitMessage">
        <div>Commit message:</div>
        <textarea type="text" [(ngModel)]="commitMessage" rows="1" #commitMessageTextArea></textarea>
    </div>

    <div>
        <button style="width: 100%; padding: 0.5em;" (click)="onCommitClicked()">Commit</button>
    </div>

</div>
