<div class="root fill">
    <div style="margin-bottom: 4px">
        <input type="search" placeholder="Filter" style="width: 100%" [(ngModel)]="filter" (ngModelChange)="onFilterChange()">
    </div>
    <div class="treeView fill">
        <tree-view [data]="changeFilesTree" [adapter]="adapter" [lineHeight]="22" (selectedItemChange)="onSelectedItemChange($event)">
            <ng-template let-data>
                <div *ngIf="data.isHeaderNode" style="background: rgb(245, 245, 245); padding: 3px; font-weight: bold; opacity: 0.5">
                    {{ data.label }}
                </div>
                <div *ngIf="!data.isHeaderNode" style="display: flex;" class="fileOrFolderLine">
                    <div style="padding-right: 4px;">
                        <check-box [checked]="data.showUnstageButton" (checkedChange)="onStagedStateChanged(data, $event)"></check-box>
                    </div>
                    <div style="padding-right: 4px">
                        <file-icon [icon]="data.expanded ? data.iconExpanded : data.iconCollapsed"></file-icon>
                    </div>
                    <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; flex: 1" [class]="data.textClass">{{ data.label }}</div>
                    <div *ngIf="data.hintText !== undefined" style="opacity: 0.5">&nbsp;{{ data.hintText }}</div>
                </div>
            </ng-template>
        </tree-view>
    </div>
</div>