<div class="root fill">
    <div style="margin-bottom: 4px">
        <input type="search" placeholder="Filter" style="width: 100%" [(ngModel)]="filter" (ngModelChange)="onFilterChange()">
    </div>
    <div class="treeView fill">
        <tree-view [data]="changeFilesTree" [adapter]="adapter" [lineHeight]="22" (selectedItemChange)="onSelectedItemChange($event)">
            <ng-template let-data>
                <div style="display: flex; overflow: hidden; padding: 3px" [title]="data.label">
                    <div style="flex: 1; display: flex">
                        <i class="material-icons" [style.display]="data.textClass=='entryAdd' ? 'block' : 'none'" style="color: green;  font-weight: bold">add</i>
                        <i class="material-icons" [style.display]="data.textClass=='entryRemove' ? 'block' : 'none'" style="color: red;  font-weight: bold">remove</i>
                        <i class="material-icons" [style.display]="data.textClass=='entryChange' ? 'block' : 'none'" style="color: dodgerblue;">create</i>
                        <div style="padding-right: 4px">
                            <file-icon [icon]="data.expanded ? data.iconExpanded : data.iconCollapsed"></file-icon>
                        </div>
                        <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap" [class]="data.textClass">{{ data.label }}</span>
                    </div>
                    <div>
                        <div *ngIf="data.showStageButton" (click)="onStageButtonClicked(data)">Stage</div>
                        <div *ngIf="data.showUnstageButton" (click)="onUnstageButtonClicked(data)">Unstage</div>
                    </div>
                </div>
            </ng-template>
        </tree-view>
    </div>
</div>
